.site-header {
  display: flex;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
}

.site-header a {
  color: white;
}

.site-header a:hover {
  text-decoration: none;
}

.site-header h1 {
  margin: 0;
}

.error {
  color: red;
  font-size: 16px;
  margin: 16px 0;
}

.container-fluid {
  padding: 15px;
}
