.site-header {
  display: flex;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
}

.site-header a {
  color: white;
  text-decoration: none;
}

.site-header h1 {
  margin: 0;
}

.error {
  color: red;
  font-size: 16px;
  margin: 16px 0;
}

.container-fluid {
  padding: 15px;
}

a {
  font-size: 16px;
}

.schools .school-results-header,
.schools .list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.professors .professor-results-header,
.professors .list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.schools .school-link {
  flex: 1 1 auto;
}

.schools .location {
  min-width: 300px;
}

.professorDetails .rating {
  min-width: 300px;
}

.professorDetails .difficulty {
  min-width: 300px;
}

.professorDetails .professor-results-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#thumbsUpBtn,
#thumbsDownBtn {
  width: 2rem;
  height: 2rem;
}

.professorDetails .list-group-item {
  display: flex;
  flex-direction: column;
}

.professorDetails .thumbs-up-down {
  display: flex;
  flex-direction: row;
}

.professorDetails .thumbs-up-down form {
  display: flex;
  align-items: center;
}

.professorDetails .thumbs-up-down form span {
  margin: 0 4px;
}
