<div id="loginTexts">
    <h1 id="loginWelcome">Welcome to ProfChecker!</h1>
    <br>
    <h2 id="loginPrompt">Please sign in below using your email and password.</h2>
</div>

<div id="loginFormDiv">
    <form method="POST" id="loginForm">
        <div class="form-group">
            <label for="emailLogin">Please enter your email address</label>
            <input type="email" name="emailBox" id="emailLogin" placeholder="Email Address" required
                class="form-control">
        </div>
        <div class="form-group">
            <label for="passwordLogin">Please enter your password</label>
            <input type="password" name="passwordBox" id="passwordLogin" placeholder="Password" required
                class="form-control">
        </div>

        <button id="loginBtn" class="btn btn-primary" type="submit">Login</button>
    </form>
    <br>
    <br>
</div>
<div id="newUserLinkDiv">
    <a href="/newUser" id="newUserLink">New to ProfChecker? Sign up here!</a>
    <!-- This links to various pages. Remove this when application is ready for testing. -->>
    <br>
    <br>
    <a href="/logout" id="logoutLinkTEST">Click Here to Test the Logout Page</a>
    <br>
    <br>
    <a href="/schools/newSchool" id="newSchoolLinkTEST">Click Here to Test the New School Page</a>
    <br>
    <br>
    <a href="/schools/professors/newProfessor" id="newProfessorLinkTEST">Click Here to Test the New Professor Page</a>
    <br>
    <br>
    <a href="/schools/professors/createReview" id="newReviewLinkTEST">Click Here to Test the New Review Page</a>
</div>
