<div id="loginTexts">
    <h1 id="loginWelcome">Welcome to ProfChecker!</h1>
    <br>
    <h2 id="loginPrompt">Please sign in below using your email and password.</h2>
</div>

<div id="loginFormDiv">
    <form method="POST" id="loginForm">
        <div class="form-group">
            <label for="emailLogin">Please enter your email address</label>
            <input type="email" name="emailBox" id="emailLogin" placeholder="Enter Email Address" required
                class="form-control">
        </div>
        <div class="form-group">
            <label for="passwordLogin">Please enter your password</label>
            <input type="password" name="passwordBox" id="passwordLogin" placeholder="Enter Password" required
                class="form-control">
        </div>

        <button id="loginBtn" class="btn btn-primary" type="submit">Login</button>
    </form>
    <br>
    <br>
</div>
<div id="newUserLinkDiv">
    <a href="/newUser" id="newUserLink">New to ProfChecker? Sign up here!</a>
</div>
