<div id="loginTexts">
    <h1 id="loginWelcome">Welcome to ProfChecker!</h1>
    <br>
    <h2 id="loginPrompt">Please sign in below using your email and password.</h2>
</div>

<div id="loginFormDiv">
    <form method="POST" id="loginForm">
        <label for="emailLogin">Please enter your email address
            <br>
            <input type="email" name="emailBox" id="emailLogin" placeholder="Enter Email Address">
            <br>
        </label>
        <label for="passwordLogin">Please enter your password
            <br>
            <input type="password" name="passwordBox" id="passwordLogin" placeholder="Enter Password">
            <br>
        </label>
        <br>
        <input id="loginBtn" type="submit" value="Login">
        <br>
    </form>
    <br>
    <br>
</div>
<div id="newUserLinkDiv">
    <a href="/newUser" id="newUserLink">New to ProfChecker? Sign up here!</a>
</div>