<div id="newUserTexts">
    <h1 id="newUserWelcome">Sign Up for ProfChecker</h1>
    <br>
    <h2 id="newUserPrompt">Please fill out the form below and click Register.</h2>
</div>
<div id="newUserFormDiv">
    <form method="POST" id="newUserForm">
        <div class="form-group">
            <label for="firstNameBox">Please enter your first name</label>
            <input type="text" name="firstNameBox" id="firstNameBox" placeholder="First Name"
                class="form-control" required>
        </div>

        <div class="form-group">
            <label for="lastNameBox">Please enter your last name</label>
            <input type="text" name="lastNameBox" id="lastNameBox" placeholder="Last Name"
                class="form-control" required>
        </div>

        <div class="form-group">
            <label for="emailBox">Please enter your email</label>
            <input type="email" name="emailBox" id="emailBox" placeholder="Email" class="form-control"
                required>
        </div>

        <div class="form-group">
            <label for="passwordBox1">Please enter a password</label>
            <input type="password" name="passwordBox1" id="passwordBox1" placeholder="Password"
                class="form-control" required>
        </div>

        <div class="form-group">
            <label for="passwordBox2">Please re-enter your password</label>
            <input type="password" name="passwordBox2" id="passwordBox2" placeholder="Confirm Password"
                class="form-control" required>
        </div>

        <div class="form-group">
            <label for="cityBox">Please enter your city</label>
            <input type="text" name="cityBox" id="cityBox" placeholder="City" class="form-control" required>
        </div>

        <button id="newUserSubmitBtn" type="submit" class="btn btn-primary">Register</button>
    </form>
</div>