<div id="newUserTexts">
    <h1 id="newUserWelcome">Sign Up for ProfChecker</h1>
    <br>
    <h2 id="newUserPrompt">Please fill out the form below and click Submit.</h2>
</div>
<div id="newUserFormDiv">
    <form method="POST" id="newUserForm">
        <label for="firstNameBox">Please enter your first name
            <br>
            <input type="text" name="firstNameBox" id="firstNameBox" placeholder="Enter your first name">
            <br>
        </label>
        <label for="lastNameBox">Please enter your last name
            <br>
            <input type="text" name="lastNameBox" id="lastNameBox" placeholder="Enter your last name">
            <br>
        </label>
        <label for="emailBox">Please enter your last name
            <br>
            <input type="email" name="emailBox" id="emailBox" placeholder="Enter your email">
            <br>
        </label>
        <label for="passwordBox1">Please enter a password
            <br>
            <input type="password" name="passwordBox1" id="passwordBox1" placeholder="Enter a password">
            <br>
        </label>
        <label for="passwordBox2">Please re-enter your password
            <br>
            <input type="password" name="passwordBox2" id="passwordBox2" placeholder="Confirm password">
            <br>
        </label>
        <label for="cityBox">Please enter your city
            <br>
            <input type="text" name="cityBox" id="cityBox" placeholder="Enter your city">
            <br>
        </label>
        <br>
        <input id="newUserSubmitBtn" type="submit" value="Register">
        <br>
    </form>
    <br>
    <br>
</div>